.button-icon {
  margin-right: 5px;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-add-tool {
  display: flex;
  flex-direction: column;
}
.dialog-container {
  width: 500px;
}
.dialog-card {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card-icon-remove {
  margin: 5px;
}

.container-tags {
  display: flex;
  overflow: scroll;
  width: 100%;
  max-width: 100%;
  padding-left: 14px;
  border: 1px grey solid;
  border-radius: 5px;
  color: black;
  flex-wrap: wrap;
}

.container-input-tags {
  display: flex;
  width: 100%;
  min-width: 50%;
  border: none;
  border-radius: 5px;
  padding: 14px;
  padding-left: 14px;
}

.tag {
  display: flex;
  align-items: center;
  margin: 7px 0;
  margin-right: 10px;
  padding: 0 10px;
  padding-right: 5px;
  border: 1px solid rgba(70, 70, 87, 0.479);
  border-radius: 5px;
  background-color: #3f51b5;
  white-space: nowrap;
  color: white;
  max-width: fit-content;
}

.tag button {
  display: flex;
  padding: 6px;
  border: none;
  background-color: unset;
  cursor: pointer;
  color: white;
}
